
/* customproperties */
:root{
    --blanco:#ffffff;
    --oscuro:#212121;
    --primario:rgb(255 193 7);

    --secundario:#0097A7;
    --gris:#757575;
    --grisClaro:#DFE9F3;

    --fuente-principal:3.8rem;
}

/*Globales*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}  
/*Scroll snap*/
.servicios, .navegacion-principal, .formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
} 
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px; /*1rem=10px*/
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to top,var(--grisClaro) 0%,var(--blanco) 100%);
}
/* tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center;
}
/* NO ES BUEN UTILIZAR ID IGUALES YA QUE DEBEN SER UNICOS */

/* #titulo{ */
    
.titulo{
    /* background-color: blueviolet; */
    
    text-transform: uppercase;
    /* font-size:var(--fuente-principal); */
    color:var(--primario);

    
}


/* span{
    font-size: 20px;
    font-size: 2rem;
    color: green
} */
/* color: green!important; */
/* h1.titulo span{ */
    /* font-size: 20px; */
    /* font-size: 2rem;
    color: blue */
/* } */
.titulo span{
    /* font-size: 20px; */
    font-size: 2rem;
    /* color: rgba(67, 255, 100, 0.85);  */
    /* color: green; */
}
.contenedor{
    max-width: 120rem;
    min-width: 30rem;
    /* margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto; */

    /* margin: 0 auto 0 auto; */
    margin: 0 auto;

}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;                                                             

    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;

}
@media(min-width: 760px){
    .boton {
        width: auto;
    }
}
.boton:hover{
    cursor:pointer;
}
.nav-bg{
    background-color: var(--secundario);

}
/*utilidades*/

.w-sm-100{
    width: 100%;
}
@media(min-width: 760px){
    .w-sm-100{
        width: auto;
    }
}
.flex{
    display: flex;
}
.alinear-derecha{
    justify-content: flex-end;
}
.navegacion-principal{
    /* margin-top: 10rem; */
    /* padding: 1rem; */
    color: var(--blanco);
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: row; */
    flex-direction: column;
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: flex-start; */
}
@media(min-width: 480px){ 
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }

}
@media(min-width: 1140px){ 
    .navegacion-principal{
        /* flex-direction: row;
        justify-content: space-between; */
        /* background-color: var(--gris); */

    }

}
.navegacion-principal a{
    /* background-color: var(--primario); */
    color: var(--blanco);
    padding: 1rem;
    text-decoration: none;
    /* display: inline-block; */
    display: flex;
    font-size: 2rem;
    font-weight: bold;
    
}
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
/* .navegacion-principal a:focus{
    /* background-color: var(--primario); */
    /* color: red; */

/* p{
    background-color: var(--primario);


} */
/* body{
    background-color: yellow;
    font-size: 3rem;
}
@media (min-width: 480px ){
    body{
        background-color: blue;
    }
}
@media (min-width: 768px ){
    body{
        background-color: red;
    }
} */

@media(min-width: 480){
    h1{

    }
}
@media(min-width: 768){
    h1{

    }
}
@media(min-width: 1140){
    h1{

    }
}
@media(min-width: 1400){
    h1{

    }
}
.hero{
    background-image: url(../img/colorful.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    /* padding: 20px; */
    position: relative;
    margin-bottom: 2rem;

}
.contenido-hero{
    position: absolute;
    /**background-color: rgba(0,0,0,0.6);**//**ANTERIOR**/
    background-color: rgb(0 0 0/70%);
    /* width: 2rem;
    height: 2rem; */
    /* bottom: 0;
    left: 0;
    top: 0;
    right: 0; */
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.contenido-hero .ubicacion{
    display: flex;
    align-items: flex end;
}

.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco);
}
.ubicacion{
    display: flex;
    align-items: center;
}
.contenido-hero a{

}
.sombra{
    -webkit-box-shadow: 10px 13px 7px 0px rgba(105,103,105,1);
    -moz-box-shadow: 10px 13px 7px 0px rgba(105,103,105,1);
    box-shadow: 10px 13px 7px 0px rgba(105,103,105,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
@media(min-width: 760px){
    
    /* SERVICIOS */
.servicios{
    display: grid;
    /* grid-template-columns: 300px 300px ; */
    /* grid-template-rows: 200px 800px ; */
    /* grid: 200px 800px/300px 300px; */
    /* grid-template-columns: 33.3% 33.3% 33.3%; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;

}
}
.servicio{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.servicio p{
    list-style: 2;   
    text-align: center;
}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;
}
.servicios .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;


}

/* contacto */
.formulario{
    background-color: var(--gris);
    width: min(60rem, 100%); /**Utilizar el valor mas peq**/
    align-items: center;
    margin: 0 auto;
    border-radius: 1rem;
    

}
.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
.contenedor-campos{

}
.campo{
    margin-bottom: 1rem;
}
.campo label{
    color:var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
/* .campo input[type="text"], .campo input[type="tel"] {
    background-color: red;

} */
.input-text{
    /* background-color: red; */
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}
/* .enviar .boton{
    width: 100%;
} */
